@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-capitalize {
  text-transform: uppercase;
}
.mtb {
  margin: 2rem auto;
}
.mt {
  margin-top: 0.5rem;
}

body {
  font-family: "open sans", serif;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(28, 28, 28);
}

.services-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
}
.service_title {
  cursor: pointer;
  transition: padding 0.2s linear;
}
.service_content:focus .service_title,
.service_content:hover .service_title {
  padding-bottom: 1.5rem;
  opacity: 1;
}

.section_title h1 {
  font-weight: 900;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 4rem);
}
.service_title {
  font-size: clamp(1rem, 5vw, 1.8rem);
  font-weight: 800;
  margin: 2rem auto 1rem auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}
.service_title i {
  cursor: pointer;
  font-size: 1.8rem;
}
.service_list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.service_number span {
  font-size: 1.2rem;
  font-weight: lighter;
  color: rgb(49, 206, 49);
}
.show-more-content {
  transition: all 1s ease;
}
.show-more-content[data-show="true"] {
  animation: showContent 1s forwards;
}
.show-more-content[data-show="false"] {
  animation: hideContent 1s forwards;
}
.show-more-content[data-close] {
  display: none;
}
@keyframes showContent {
  0% {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes hideContent {
  0% {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
  }
}

.service_number {
  visibility: hidden;
  opacity: 0;
  animation-delay: 200ms;
  animation: appear 1s forwards;
}
.service_number:nth-child(2) {
  animation-delay: 400ms;
}
.service_number:nth-child(3) {
  animation-delay: 600ms;
}
.service_number:nth-child(4) {
  animation-delay: 800ms;
}
.service_number:nth-child(5) {
  animation-delay: 1000ms;
}
.service_number:nth-child(6) {
  animation-delay: 1200ms;
}
.service_number:nth-child(7) {
  animation-delay: 1400ms;
}
.service_number:nth-child(8) {
  animation-delay: 1600ms;
}
@keyframes appear {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fade {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.fade-1 {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

/*! media query */
@media screen and (max-width: 1264px) {
  .services-container {
    max-width: 100%;
    padding: 1rem 2rem;
  }
  .services-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 964px) {
  h3 {
    font-size: 1rem;
  }
  .service_list-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 454px) {
  .services-container {
    padding: 1rem 1rem;
  }

  .service_list-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
